.pagination {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
  list-style: none;
  li {
    margin: 0 20px;
    background-color: #69a9ff;
    font-size: 18px;
    padding: 22px;
    border-radius: 50px;
    box-shadow: #69a9ff 0 0 5px 0px;
    cursor: pointer;
    &:hover {
      background-color: #2a5288;
      color: white;
    }
  }
}
