.layout-wrapper {
  display: flex;
  flex-direction: column;
  height:100%;
  flex: 1;
  header, footer {
    flex: 1;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
  }
  header {
    img {
      width: 100px;
      margin: 20px 0;
      border-radius: 10px;
    }
  }
  footer {
    img {
      width: 100px;
      border-radius: 10px;
    }
    ul {
      align-items: flex-start;
      color: white;
      list-style: none;
      max-width: 20%;
      li {
        margin: 10px 0;
      }
    }
  }
  .layout-content {
    position: relative;
    background-image: url(https://raw.githubusercontent.com/LeandroTk/pokemon/master/resources/images/pokemon-cover.jpg);
    background-position: center;
    z-index: 1;
    flex: 7;
    align-items: center;
    justify-content: center;
    &:before {
      content:"";
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      background-color: #00000038;
      z-index: 0;
    }
  }
  .page-content {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 767px;
    padding: 20px;
    margin: 10px auto;
  }
}
